.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2% 10%;
  background-color: #ffffff;
  border-radius: 0.2rem;
  min-height: 20rem;
  align-content: space-around;
  justify-content: space-around;
  box-shadow: 0.1rem 0.2rem 1rem hsl(0, 0%, 80%, 0.4);
}

.form input {
  padding: 5%;
  border: 1px solid hsl(0, 0%, 90%);
}

.form input:active {
  border-style: none;
}

.form input[name='titleInput'] {
  font-weight: bold;
  border: 0;
  text-align: center;
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form input[name='roleInput'] {
  margin-bottom: 1rem;
}

.form textarea[name='bodyInput'] {
  padding: 5%;
  min-height: 7rem;
  border: 1px solid hsl(0, 0%, 90%);
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 4rem;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 10%;
  margin-top: 1rem;
}

.dropzoneInner {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: hsl(0, 0%, 90%);
  border-style: dashed;
  border-radius: 2px;
  padding: 10%;
}

.preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview h6 {
  margin: 0.5rem 0;
  text-align: center;
  text-decoration: underline;
}

.projectOpts {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.projectOpts button {
  width: 45%;
  padding: 5%;
  background-color: inherit;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 0.05rem;
  margin: 1rem 0;
  box-shadow: 0.1rem 0.2rem 1rem hsl(0, 0%, 80%, 0.4);
}

.save {
  width: 100%;
  padding: 5%;
  background-color: inherit;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 0.05rem;
  margin: 1rem 0;
  box-shadow: 0.1rem 0.2rem 1rem hsl(0, 0%, 80%, 0.4);
}
