.wrapper {
  width: 90%;
  max-height: 20rem;
  margin: 5% 2%;
  display: flex;
  flex-direction: column;
  border: 0.05rem solid hsla(0, 0%, 45%, 0);
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0.1rem 0.1rem 0.2rem hsl(0, 0%, 20%, 0.8);
  transition: opacity 2s ease-in-out, box-shadow 200ms ease-in-out;
  opacity: 0;
}

.wrapper:hover {
  box-shadow: 0.3rem 0.3rem 0.2rem hsl(0, 0%, 20%, 0.5);
}

.wrapper:active {
  box-shadow: 0.3rem 0.3rem 0.2rem hsl(0, 0%, 20%, 0);
  border: 0.05rem solid hsla(0, 0%, 45%, 0.5);
}

.showOnLoad {
  opacity: 1;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 400ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:hover .overlay {
  background-color: hsla(0, 74%, 62%, 0.575);
}

.container:active .overlay {
  background-color: hsla(0, 45%, 40%, 0.383);
}
.overlay .title {
  opacity: 0;
  color: hsl(0, 0%, 100%);
  transition: all 500ms ease-in-out;
}
.container:hover .overlay .title {
  opacity: 1;
}

.imageWrapper {
  width: 100%;
  min-height: 7rem;
  overflow: hidden;
}
.imageWrapper img {
  width: 100%;
  transition: all 300ms ease-in-out;
}
.container:hover .imageWrapper img {
  transform: scale(1.1);
}

.container:active .imageWrapper img {
  transform: scale(1.09);
}

.title {
  text-align: center;
}

@media (min-width: 1024px) {
  .wrapper {
    width: 45%;
  }
}
