.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-height: 85vh;
  font-size: 150%;
}

.title {
  margin-top: 1.5rem;
  max-width: 90%;
  text-transform: uppercase;
}

.title h4 {
  width: 100%;
  margin: 0;
  padding: 0;
}

.role {
  width: 100%;
  font-size: 60%;
  align-self: baseline;
  padding: 5%;
}

.role span {
  text-transform: uppercase;
  font-weight: normal;
  background-color: hsl(230, 10%, 90%);
  padding: 2% 5%;
  border-radius: 2rem;
  font-size: 70%;
}

.description {
  font-size: 55%;
  width: 90%;
  padding: 5%;
  height: 21.5rem;
  max-height: 21.5rem;
  border: 0.1rem solid hsl(0, 0%, 95%);
  border-radius: 2%;
}
