.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  border-radius: 10%;
}

.container h1 {
  text-transform: uppercase;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container form input,
.container form textarea {
  width: 100%;
  margin: 6% 0;
  padding: 5%;
  border: 0.05rem solid hsla(0, 0%, 70%, 0.8);
  box-shadow: 0.05rem 0.05rem 0.2rem hsla(0, 0%, 50%, 0.6);
  border-radius: 0.025rem;
}

.container form input[type='submit'],
.container form input[type='button'] {
  text-transform: capitalize;
  background-color: inherit;
  border-style: none;
  border: 0.1rem solid hsla(0, 0%, 70%, 0.8);
  box-shadow: 0.1rem 0.1rem 0.1rem hsla(0, 0%, 50%, 0.8);
  transition: all 400ms ease-in-out;
  border-radius: 0rem;
}

.container form input[type='submit']:hover,
.container form input[type='button']:hover {
  box-shadow: 0.2rem 0.2rem 0.2rem hsla(0, 0%, 40%, 0.9);
}

.container form input[type='submit']:active,
.container form input[type='button']:active {
  box-shadow: 0rem 0rem 0rem hsla(0, 0%, 40%, 0.9);
}

.container form textarea {
  width: 100%;
  margin: 4% 0;
  height: 15rem;
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 4rem;
  border: 1px solid hsl(0, 0%, 90%);
  padding: 10%;
  margin-top: 1rem;
}

.dropzoneInner {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: hsl(0, 0%, 90%);
  border-style: dashed;
  border-radius: 2px;
  padding: 10%;
}

.preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview h6 {
  margin: 0.5rem 0;
  text-align: center;
  text-decoration: underline;
}

.previewStyle {
  display: 'inline';
  width: 10rem;
  height: 10rem;
}
