.projectHeader {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
  opacity: 0;
  transition: opacity 700ms ease-in, border-bottom 1s ease-in;
}

.fadeIn {
  opacity: 1;
}

.cardWrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .cardWrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}
