.titleWrapper {
  position: relative;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-size: 1.1rem;
}

.upper {
  width: 50%;
  text-align: center;
  position: absolute;
  top: 0;
  text-align: center;
  top: 20%;
  left: 50%;
  margin-left: -21%;
  padding-bottom: 1%;
  border-bottom: 0.1rem solid hsl(0, 0%, 10%, 0);
  transition: all 800ms ease-in-out;
}

.showBorderBottom {
  border-bottom: 0.1rem solid hsl(0, 0%, 10%, 1);
}

.lower {
  position: absolute;
  text-align: center;
  left: 50%;

  opacity: 0;
  margin-left: -20%;
}

@keyframes animateOnLoad {
  0% {
    top: 0;
    opacity: 0;
  }

  75% {
    top: 30%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}

.animateLower {
  animation-name: animateOnLoad;
  animation-duration: 900ms;
  animation-fill-mode: forwards;
}
